<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fbLogin</title>
</head>

<body>
    <h1>Login</h1>

    <a id="loginbtn" onclick="javascript:loginWithFacebook()">Login with facebook</a>


    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '2726358177614797',
                cookie: true,
                xfbml: true,
                version: 'v9.0'
            });

            FB.AppEvents.logPageView();
            //fbSDKLoaded()

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
        document.getElementById('loginbtn').addEventListener('click', loginWithFacebook, false)

        function loginWithFacebook(){
            FB.login( response => {
                console.log("response of fb at front-end is: ", response)
                const { authResponse:{accessToken, userID} } = response

                fetch('/auth/facebook/callback', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ accessToken, userID})
                }).then(res => {
                    console.log(res)
                })

                console.log(response)
            }, {scope: 'public_profile,email'})
            return false
        }
    </script>

</body>

</html>