<!DOCTYPE html>
<html>
  <head>
    <title>Currency Converter in Javascript</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="padding-top:30px">
          <% if (message.length > 0) { %>
            <div class="alert alert-danger col-sm-12" ><%= message %></div>
          <% } else {%>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title"><%=data[0].first_name%>, <%=data[0].last_name%></h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://localhost:8080/images/<%=data[0].image%>" class="img-circle img-responsive"> </div>
                  <div class=" col-md-9 col-lg-9 "> 
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>User Name:</td>
                          <td><%=data[0].first_name%></td>
                        </tr>
                        <tr>
                            <td>second Name:</td>
                            <td><%=data[0].second_name%></td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
          </div>
        </div>
  
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>